/*
 *   DW 为设备屏幕宽度
 *   用法：将所有元素的尺寸单位都统一用rem,
 *   换算方法：实际尺寸除以100即可，比如一张图片在设计图上的实际尺寸为：100px*100px ,那么换算为rem：1rem*1rem
 *   基于设计图主体宽度为750px的自适应市面所有主流设备
*/
/*屏幕宽度为：DW = 320px, 如iphone5*/
@media screen and (max-width: 320px){ html{font-size: 43px;}  }
/*屏幕宽度为：321px < DW < 360px,如小米2*/
@media screen and (min-width: 321px) and (max-width: 360px){ html{font-size: 48px;} }
/*屏幕宽度为：361px < DW < 375px,如iphone6*/
@media screen and (min-width: 361px) and (max-width: 375px){ html{font-size: 50px;}  }
/*屏幕宽度为：376px < DW < 414px,如iphone6 plus*/
@media screen and (min-width:376px) and (max-width: 414px){ html{font-size: 55px;}  }
/*屏幕宽度为：415px < DW < 435px,如Nexus 6p*/
@media screen and (min-width:415px) and (max-width: 435px){ html{font-size: 58px;}  }
/*屏幕宽度为：436px < DW < 480px */
@media screen and (min-width:436px) and (max-width:480px){ html{font-size:64px;}  }
/*屏幕宽度为：481px < DW < 540px */
@media screen and (min-width:481px) and (max-width:540px){ html{font-size:72px;}  }
/*屏幕宽度为：541px < DW < 600px,如Nexus7 */
@media screen and (min-width:541px) and (max-width:600px){ html{font-size:80px;}  }
/*屏幕宽度为：601px < DW < 640px */
@media screen and (min-width:601px) and (max-width:640px){ html{font-size:85px;}  }
/*屏幕宽度为：641px < DW < 720px */
@media screen and (min-width:641px) and (max-width:720px){ html{font-size:96px;}  }
/*屏幕宽度为：701px < DW < 749px */
@media screen and (min-width:721px) and (max-width:749px){ html{font-size:99px;}  }
/*屏幕宽度为：DW > 701px,如ipad,ipad mini */
@media screen and (min-width:750px){ html{font-size:100px;}  }

/*Flex 布局*/
.flex_1{display: flex; flex: 1;}
.flex_row{display: flex; flex-direction: row;}
.flex_column{display: flex; flex-direction: column}
.flex_row_center{justify-content: center}
.flex_column_center{align-items: center;}
.flex_center{justify-content: center;align-items: center;}
.self_flex_start{align-self: flex-start;}
.self_flex_end{align-self: flex-end;}

body{ background: #F7F8FA; color: #333;}
i,em{ font-style: normal;}
ul,ol,li{list-style:none;}
input{outline: none;}
img{ width: 100%;height:auto;}
table{border-collapse:collapse;border-spacing:0;}
.rel{ position: relative;}
.abs{ position: absolute;}
.fixed{ position: fixed}
.fl{ float:left;}
.fr{ float:right;}
.clearfix {  *zoom: 1;  }
.clearfix:before, .clearfix:after {  display: table;  line-height: 0;  content: ""; }
.clearfix:after {  clear: both;  }
.text_line{word-break: break-all;word-wrap:break-word;}
.tc{ text-align: center;}
.tl{ text-align: left;}
.tr{ text-align: right;}
.ell{ overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.scroll_hide_header_box{ position: absolute; left: 0; top:46px; right:0; bottom:0; overflow-y: auto;}
.scroll_show_header_box{ position: absolute; left: 0; top:0; right: 0; bottom: 0;overflow-y: auto; }
.content_box{ left: 0;top:0;right:0;bottom: 0; overflow-x:hidden; overflow-y: auto;  -webkit-overflow-scrolling: touch;overflow-scrolling: touch;}
.btn_box{ padding:0 15px}
.btn_box .custom-primary{
  background-image: linear-gradient(-179deg, #4C83FF 0%, #463FFF 100%);
  box-shadow: 0 10px 15px #CFD8FF;border-radius: 0.5rem;
  font-size: 0.34rem!important; padding:0.075rem 0;
}
.btn_box .custom-primary-disabled{
  background: #9AB7FF;
  box-shadow: 0 10px 15px #CFD8FF;border-radius: 0.5rem;
  font-size: 0.34rem!important; padding:0.075rem 0
}
.btn_box .custom-primary:active,.btn_box .custom-primary-disabled {background: #9ab7ff!important;}
.btn_box .weui-btn_loading.weui-btn_primary.custom-primary{ background: #9ab7ff!important; color: #fff!important;}
.btn_box .weui-btn_disabled.weui-btn_primary{ background: #9ab7ff!important; color: #fff!important;}
.btn_box .weui-btn:after{border:0!important;}
/**重置weui样式**/
/*.weui-label{font-size: 0.32rem!important;}*/
/*.weui-cell_warn .weui-label{ color: #333;}*/
.weui-cell{ padding:10px 0!important;}
.weui-cells{font-size: 0.30rem !important; margin-top: 0!important; padding:0!important; background: none!important;}
.weui-cell:before{left:0!important;border:0!important;}
/*.weui-cell:after {  content: " ";  position: absolute;  left: 0;*/
  /*bottom: 0;  right: 0;  height: 0;  border-top: 1px solid #D9D9D9;  color: #D9D9D9;  -webkit-transform-origin: 0 0;  transform-origin: 0 0;*/
  /*-webkit-transform: scaleY(0.5);  transform: scaleY(0.5);*/
/*}*/
.weui-cells:before,.weui-cells:after{border:0!important;}
/*.vux-label{font-size: 0.32rem !important;}*/

.weui-dialog{padding: 0; border-radius: 0.05rem !important;}
.weui-dialog__hd{padding:0!important; }
.weui-dialog__bd{padding:0.5rem 0.2rem!important;min-height:0!important;}
.weui-dialog__ft{margin: 0 -10px -10px -10px!important; line-height: 40px !important;}
.weui-dialog__btn_primary{ color: #52a7ff!important; height: 1.2rem; font-size: 0.34rem;}
.weui-mask{background:rgba(0, 0, 0, 0.65)!important;}

.vux-popup-picker-container .vux-popup-header-right{ color: #4c83ff!important;}
/*.weui-toast{ z-index: 500000;background:rgba(17, 17, 17, 0.82)}*/
/*.weui-toast.vux-toast-middle{ max-width: 80%; padding: 0 10px;}*/
/*.weui-tabbar{ background-color: #fff!important;}*/
/*#app .weui-toast{min-height: inherit}*/
:-moz-placeholder {  color: #dcdde7; opacity:1;  }
::-moz-placeholder {  color: #dcdde7;opacity:1;  }
input:-ms-input-placeholder{  color: #dcdde7;opacity:1;  }
input::-webkit-input-placeholder{  color: #dcdde7;opacity:1;  }
textarea:-ms-input-placeholder{  color: #dcdde7;opacity:1;  }
textarea::-webkit-input-placeholder{  color: #dcdde7;opacity:1;  }
/*.weui-tabbar:before{ border-top:1px solid #e7e7e7;}*/
/**重置weui样式**/

/**标题样式修改**/
.vux-header .vux-header-title, .vux-header h1 {font-size: 16px!important;}
.vux-header .vux-header-left .left-arrow:before {border: 0.01rem solid #37394D!important;border-width: 0.01rem 0 0 0.01rem!important;}
/**标题样式修改**/


/**字体通用颜色**/
.c_fff{color:#fff;}
.c_000{color:#000;}
.c_aaa{color:#aaa;}
.c_333{color:#333;}
.c_666{color:#666;}
.c_999{color:#999;}
.c_ccc{color:#ccc;}
.c_gray{color:#9495AB;}
.c_grays{color:#BCBDD0;}
.c_white{color:#fff;}
.c_red{color:#ff5256;}
.c_blue{color:#4c83ff}
.c_yellow{color:#FE8B29}
.c_gree{color:#26dc44}
.c_orange{color:#ff4e1f}
.c_commonRed{color:#ad1c1f;}
.c_divider{color:#979899}
.c_transparent{color: transparent;}

/**背景通用颜色**/
.bg_white{background:#fff;}
.bg_navTitle{background:#f9f9f9; overflow: hidden;}
.bg_red{background:#ff5256;}
.bg_gray{background:rgba(0,0,0,0.1);}
.bg_blue{background:#52a7ff}
.bg_transparent{background: transparent;}

/**字体加粗**/
.fw_b{font-weight: bold;}

/**文本缩进2个字**/
.txtIndent{text-indent:2em;}

/**字体大小**/
.fs12{font-size:0.12rem;}
.fs14{font-size:0.14rem;}
.fs16{font-size:0.16rem;}
.fs18{font-size:0.18rem;}
.fs20{font-size:0.2rem;}
.fs22{font-size:0.22rem;}
.fs24{font-size:0.24rem;}
.fs26{font-size:0.26rem;}
.fs28{font-size:0.28rem;}
.fs30{font-size:0.30rem;}
.fs32{font-size:0.32rem;}
.fs34{font-size:0.34rem;}
.fs36{font-size:0.36rem;}
.fs38{font-size:0.38rem;}
.fs40{font-size:0.4rem;}
.fs42{font-size:0.42rem;}
.fs48{font-size:0.48rem;}
.fs56{font-size:0.56rem;}
.fs66{font-size:0.66rem;}
.fs96{font-size:0.96rem;}

/*****间距padding*****/
.pt0{padding-top:0rem;}
.pl5{padding-left:0.05rem;}
.pr5{padding-right:0.05rem;}
.pt5{padding-top:0.05rem;}
.pb5{padding-bottom:0.05rem;}
.pr8{padding-right:0.08rem;}
.pt8{padding-top:0.08rem;}
.pb8{padding-bottom:0.08rem;}
.pt10{padding-top:0.1rem;}
.pb10{padding-bottom:0.1rem;}
.pt15{padding-top:0.15rem;}
.pb15{padding-bottom:0.15rem;}
.pt20{padding-top:0.2rem;}
.pb20{padding-bottom:0.2rem;}
.pt30{padding-top:0.3rem;}
.pb30{padding-bottom:0.3rem;}
.pl15{padding-left:0.15rem;}
.pr15{padding-right:0.15rem;}
.pl20{padding-left:0.2rem;}
.pl25{padding-left:0.25rem;}
.pl30{padding-left:0.30rem;}
.pl35{padding-left:0.35rem;}
.pl50{ padding-left:0.50rem;}
.pr35{padding-right:0.35rem;}

/*****间距margin*****/
.m15{margin-left:0.05rem;}
.mr5{margin-right:0.05rem;}
.mt5{margin-top:0.05rem;}
.mt8{margin-top:0.08rem;}
.mr10{margin-right:0.1rem;}
.mt10{margin-top:0.1rem;}
.mb10{margin-bottom:0.1rem;}
.mt15{margin-top:0.15rem;}
.mb15{margin-bottom:0.15rem;}
.ml10{margin-left:0.1rem;}
.ml15{margin-left:0.15rem;}
.mr15{margin-right:0.15rem;}
.mr20{margin-right:0.2rem;}
.mr45{margin-right:0.45rem;}
.ml35{margin-left:0.35rem;}
.mr35{margin-right:0.35rem;}
.mt20{margin-top:0.2rem;}
.mb20{margin-bottom:0.2rem;}
.mt25{margin-top:0.25rem;}
.mb25{margin-bottom:0.25rem;}
.mt30{margin-top:0.3rem;}
.mt35{margin-top:0.35rem;}
.mt45{margin-top:0.45rem;}
.mt50{margin-top:0.5rem;}
.mb50{margin-bottom:0.5rem;}
.mt65{margin-top:0.65rem;}
.ml75{margin-left:0.75rem;}
.mt85{margin-top:0.85rem;}
.mt90{margin-top:0.9rem;}
.mt100{margin-top:1rem;}
.mb100{margin-bottom:1rem;}

/*****数字圆角*****/
.circleModel{color:white;border-radius: 12px; padding:0.01rem 0.05rem 0 0.05rem;}

/*****标签圆角*****/
.tagCircle{color:white;border-radius: 0.02rem; padding:0.01rem 0.02rem 0 0.02rem;}

/*****按钮圆角*****/
.buttonCircle{color:white;border-radius: 0.12rem; padding:0.03rem 0.12rem 0.02rem 0.12rem;}

/*****边线border*****/
.dottedBorderTop{border-top:dotted #eeeeee 0.01rem;}
.dottedBorderbottom{border-bottom:dotted #eeeeee 0.01rem;}
.solidBorderTop{border-top:solid #eeeeee 0.01rem;}
.solidBorderBottom{border-bottom:solid #eeeeee 0.01rem;}
.solidBorderRight{border-right:solid #eeeeee 0.01rem;}

/*****间隔线*****/
.spaceH{background: #efeff4; height:0.2rem;}

/*****钱样式*****/
.money:before{content: "￥" }

@-webkit-keyframes circle-animation {
  0%{-webkit-transform : rotate(0deg);}
  100%{-webkit-transform : rotate(360deg);}
}
@keyframes circle-animation {
  0%{transform: rotate(0)}
  100%{transform: rotate(360deg)}
}
.circle-animation{
  -webkit-animation: circle-animation 1.25s linear 0s infinite;
  animation: circle-animation 1.25s linear 0s infinite;
}




